body {
    color: #817f12e7;
    background-color: rgb(95, 7, 7);
    /* this is how you make a comment in css  */
}

h1 {
    font-size: 2em;
    font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
    font-size: 28px;
    font-family: "Helvetica", "Arial", sans-serif;
}

h1,
h2 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: lower-roman;
}

a {
    text-decoration: none;
}

p {
    text-align: left;
}