


@import "styles.css";

body{
    background-color: black;
}


.person {
    position: relative;
    left: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.intro_text {
    height: fit-content;
    text-align: center;
    font-size: 26px;
    position: relative;
}

.intro_text:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    top: 50%;
    left: 34%;
    background: #9abbb3;
    position: absolute;
}

.intro_text:after {
    content: " ";
    display: block;
    width: 60px;
    height: 2px;
    top: 50%;
    right: 33%;
    background: #9abbb3;
    position: absolute;
}

.introduction {
    margin-top: 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex-direction: row;
}

.connector {
    margin-left: 100px;
    margin-right: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
    height: 100px;
    width: 850px;
    flex: 0 0 42%;
    display: flex;
    align-items: center;
    z-index:2;
}

.step {
    margin-left: 100px;

   
    width: 130px;

}

.corners {
    background-color: #02271f;
    border: 3px solid ;
    margin-left: 0px;
    text-align: center;
    height: 140px;
    float: left;
    width: 450px;
    z-index: 3;
    padding: 60px 0;
}


.connector1 {
    margin-left: 0px;
    background-repeat: no-repeat;
    background-position: right;
    height: 140px;
    flex: 0 0 32%;
    display: flex;
    align-items: center;
    width: 200px;
}


.connector2 {
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: right;
    height: 100px;
    width: 10%;
    flex: 0 0 32%;
    display: flex;
    align-items: center;
    z-index: 0;

}

.connector3 {
    margin-left: 250px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: right;
    height: 100px;
    flex: 0 0 42%;
    display: flex;
    align-items: center;
    z-index: 0;

}





.Vline{
    border-width: 0;
    margin-left: 150px;
    height: 100%;
    background-color: #9abbb3;
    width: 2px;
    text-align: center;
}






.description {
    background-color: #02271f;
    border: 3px solid ;
    margin-left: 0px;
    text-align: center;
    height: 140px;
    width: 1200px;
    z-index: 2;
    margin-bottom: 10px;
    padding: 55px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}





.corners1 {
    background-image: linear-gradient(180deg, #033d30, transparent);
    margin-left: -640px;
    margin-top: 150px;
    height: 200px;
    float: left;
    width: 200px;
    border-top: 2px solid #9abbb3;
    z-index: 3;
    padding: 70px 0;
    text-align: center;
}

.description1 {
    background-image: linear-gradient(180deg, #033d30, transparent);
    margin-left: 0px;
    margin-top: 150px;
    height: 200px;
    width: 800px;
    border-top: 2px solid #9abbb3;
    padding: 1px;
    z-index: 3;
    padding: 70px 0;
    text-align: center;
}



#dot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Cover entire viewport horizontally */
    height: 100vh; /* Cover entire viewport vertically */
    z-index: -1; /* Ensure dots are behind other content */
}

.dot {
    position: absolute;
    background-color: #9abbb3;/* Dot color */
    width: 4px; /* Dot width */
    height: 4px; /* Dot height */
    border-radius: 50%; /* Make dots round */
    opacity: 0; /* Initially invisible */
}


