* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #9abbb3;

}

body {
    font-family: Helvetica, Arial, Sans-Serif;
  }

.page {
    width: 1200px;
    margin: 0 auto;
}

a:link,
a:visited {
    color: #04f3bfb9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    position: relative;
    padding: 10px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(180deg, #033d30, transparent);
    display: flex;
    flex-flow: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    z-index: 4;
}

.logo {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    float: none;
    flex-basis: 100px;
    z-index: 5;
    background-color: transparent;
}

.brand {
    background-color: #033d30;
    font-size: 26pt;
    font-family: serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    margin-right: auto;
    background: linear-gradient(45deg, #f9a602ff, rgba(2, 249, 195, 0.603));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.menu {
    background-color: transparent;
    display: flex;
    justify-content: right;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

.menu>li {
    margin-right: 50px;
    background-color: transparent;
}

.dropdown {
    background-color: #033d30;
}

.footer {
    clear: both;
    height: 60px;
    background-color: #033d30;
    display: flex;
}