@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #afcac4;

}

body {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: clamp(14px, 2vw, 22px);
    width: 100%; /* Ensure body spans the full width */
    margin: 0; /* Remove any default margin */
    background-color: black;
}

.page {
    width: 80%;
    margin: 0 auto;
    
}


h1, h2, h3, h4, h5, h6 {
    color: #559e8e;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header {
    position: relative;
    padding: 10px;
    padding-right: 5%;
    height: 100px;
    width: 100%;
    background-color: rgba(3, 61, 48, 0.8); /* Semi-transparent background */
    display: flex;
    flex-flow: wrap row;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    z-index: 4;
    align-items: center;
}

.logoRef {
    height: 100%;
    min-height: 40%;
    width: 100%;
    float: none;
    flex-basis:10%;
    z-index: 5;
    background-color: transparent;
}
.logo {
    height: 100%;
    min-height: 40%;
    width: 100%;
    float: none;
    flex-basis:10%;
    z-index: 5;
    background-color: transparent;
}

.brand {
    background-color: #033d30;
    font-size: clamp(20px, 2vw, 22px);
    font-family: serif;
    margin-right: auto;
    background: linear-gradient(90deg, rgb(254, 185, 48), #9abbb3);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    justify-content: center;
    -webkit-text-fill-color: transparent;

}

.menu {
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    gap: 5%;
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
    margin-right: 5%;
}

ul {
    list-style-type: none;
    display: flex; /* Ensure list items are displayed inline */
    min-width: fit-content;
}

.menu>li {
    padding: 0 10px; /* Add padding for better spacing */
    font-size: clamp(14px, 2vw, 22px);
    background-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease; /* Add hover effects */
    border-radius: 4px; /* Add rounded corners */
    padding: 2%; /* Add padding for better spacing */

}
.menu > li > a:hover {
    text-decoration: underline;
    text-underline-offset: 3px; /* Ensure the underline is slightly lower */
}


.content{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    flex-direction: row;
    margin-top: 7%;
}
.person {
    position: relative;
    flex: 0 0 50%;
    height: 200px;

}

.footer {
    clear: both;
    height: 60px;
    background-color: #033d30;
    display: flex;
}


.step {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #9abbb3; /* color of the button */

    /* Padding for the button */
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    width: 130px;
    /* Color of the text within the button */
    color: var(--color);
    
    /* Set the corner size */
    --_p: var(--s);
    
    /* Background style using a conic gradient */
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    
    /* Define transition effects */
    transition: .3s linear, color 0s, background-color 0s;
    
    /* Define an outline around the button */
    outline: var(--b) solid #0000;
    
    /* Set font size and text alignment */
    text-align: center;
    font-weight: bold;
    
    /* Remove border */
    border: 0;
    

    /* Disable text selection and specify touch behavior */
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Styles for hover and focus-visible states */
.step:hover,
.step:focus-visible {
    /* Reduce corner size and change outline color */
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

/* Styles for active state (when clicked) */
.step:active {
    background: #02271f; /* Change background color */
    color: #fff; /* Change text color */
}

#dot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Cover entire viewport horizontally */
    height: 100vh; /* Cover entire viewport vertically */
    z-index: -1; /* Ensure dots are behind other content */
}

.dot {
    position: absolute;
    background-color: #9abbb3;/* Dot color */
    width: 4px; /* Dot width */
    height: 4px; /* Dot height */
    border-radius: 50%; /* Make dots round */
    opacity: 0; /* Initially invisible */
}