* {
    margin: 0;
    padding: 0;
    color: #8ca797;

}

body {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 19px;
  }

.page {
    width: 1200px;
    margin: 0 auto;
}

a:link,
a:visited {
    color: #04f3bfb9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    position: relative;
    padding: 10px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(180deg, #033d30, transparent);
    display: flex;
    flex-flow: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    z-index: 4;
}

.logo {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    float: none;
    flex-basis: 100px;
    z-index: 5;
    background-color: transparent;
}

.brand {
    background-color: #033d30;
    font-size: 26pt;
    font-family: serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    margin-right: auto;
    background: linear-gradient(90deg, rgb(254, 185, 48), #9abbb3);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.menu {
    background-color: transparent;
    display: flex;
    justify-content: right;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

.menu>li {
    margin-right: 50px;
    background-color: transparent;
}

.dropdown {
    background-color: #033d30;
}

.footer {
    clear: both;
    height: 60px;
    background-color: #033d30;
    display: flex;
}


.step {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #9abbb3; /* color of the button */

    /* Padding for the button */
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    width: 130px;
    /* Color of the text within the button */
    color: var(--color);
    
    /* Set the corner size */
    --_p: var(--s);
    
    /* Background style using a conic gradient */
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    
    /* Define transition effects */
    transition: .3s linear, color 0s, background-color 0s;
    
    /* Define an outline around the button */
    outline: var(--b) solid #0000;
    
    /* Set font size and text alignment */
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    
    /* Remove border */
    border: 0;
    

    /* Disable text selection and specify touch behavior */
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Styles for hover and focus-visible states */
.step:hover,
.step:focus-visible {
    /* Reduce corner size and change outline color */
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

/* Styles for active state (when clicked) */
.step:active {
    background: #02271f; /* Change background color */
    color: #fff; /* Change text color */
}

#dot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Cover entire viewport horizontally */
    height: 100vh; /* Cover entire viewport vertically */
    z-index: -1; /* Ensure dots are behind other content */
}

.dot {
    position: absolute;
    background-color: #9abbb3;/* Dot color */
    width: 4px; /* Dot width */
    height: 4px; /* Dot height */
    border-radius: 50%; /* Make dots round */
    opacity: 0; /* Initially invisible */
}